body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: #99aed8;
  margin: 0px auto;
  width: 80%;
  max-width: 1200px;
}

.btn:hover {
  opacity: 0.7;
  background-color: red;
  color: white;
}

.btn i {
  font-size: 1.4rem;
  margin-right: 5px;
}

.toggle {
  text-align: center;
  padding: 1rem;
}

.toggle-btn {
  border: none;
}
